%table.table.table-bordered
  %th= t :id
  %th= t :id_ware
  %th= t :barcode_number
  %th= t :created_at
  %td
  %tbody{"data-bind"=>"foreach: barcodes"}
    %td{"data-bind"=>"text: id"}
    %td{"data-bind"=>"text: ware_id"}
    %td{"data-bind"=>"text: number"}
    %td{"data-bind"=>"text: created_at"}
    %td
      %button{"data-bind"=>"click: $parent.showBarcode"} Show
/=will_paginate @barcodes
%script
  =render 'barcode_table.js'